<%-include("header") -%>


<div >
  <h1>Our Ongoing Projects</h1>
  <div class="projects-section">
    <% for(i of projects ) {%>
    
        <div class="card">
            <img class="project-img"src="<%= i.image %>" class="card-img-top" alt="project-img">
            <div class="card-body">
              <h2 class="card-text"><%= i.title%></h2>
              <p class="card-text"><%= i.body.substring(0,100)%> ......</p>
              <a href="/projects/<%=i._id%>" class="btn btn-primary">Readmore</a>
            </div>
        </div>
    
<% } %>
</div>
</div>
     <hr class="dothr">
    <% if(locals.user){ %>
    <div class="form-section">
            <h1>GST</h1>
            <p>Add more projects to your website</p>
            <div class="form">
                <form action="/projects/create" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Project Name</label>
                        <input type="text" name="title" class="form-control" id="Name" placeholder="Enter Project Name">
                      </div>
                      <div class="mb-3">
                        <label for="About" class="form-label">About Project</label>
                        <textarea class="form-control" name="body" id="About" placeholder="Describe your Project"></textarea>
                      </div>
                      <div class="mb-3">
                        <input type="file" name="image" for="About" class="form-label"></input>
                      </div>
                      <button type="submit" class="btn btn-primary btn-md">Add</button>
                  </form>
            </div>
    </div>
    <% } %>
    

<%-include("footer") -%>