<%- include("header") -%>
<div class="middle">
    <div class="projects-section">
        <div class="card">
            <img class="project-img"src="<%= project.image %>" class="card-img-top" alt="project-img">
            <div class="card-body">
              <h2 class="card-text"><%= project.title%></h2>
              <p class="card-text"><%= project.body%></p>
            </div>
        </div>
    </div
</div>

<%- include("footer") -%>