<%-include("header") -%>
    <br>
    <br>
    <br>
 <% if(locals.user){ %>
    <div class="project-form">
        <form action="/project/create" method="POST" enctype="multipart/form-data">
            <input type="file" name = "image" placeholder="upload image" > 
            <input type="text" name="title" placeholder="Enter title...">
            <textarea name="body"  placeholder="Enter Body..." cols="30" rows="5"></textarea>
            <input type="submit" value="Save">
        </form>
    </div>

 <% } %>

 
    <% for(i of projects ) {%>
            <div style="display: flex;">
                <img src="<%= i.image %>" alt=" <%= i.title%>"  width="200">
                <h1><%= i.title%></h1>
                <p>
                    <%= i.body%>
                </p>
            </div>
    <% } %>
</div>
<%-include("footer") -%>