<div>
    <h1>
        <%=Voulenteer.name%> wants to join as volunteer.
    </h1>
    <p> Here are the details</p>
    <ul>
        <li>
            Name = <%=Voulenteer.Name%>
        </li>
        <li>
            Email =<%=Voulenteer.email%>
        </li>
        <li>
            MOb. = <%=Voulenteer.phone%>
        </li>
        <li>
            category = <%=Voulenteer.category%>
        </li>
        <!-- <li>
            Why = <p><%=Voulenteer.Why%> </p>
        </li> -->
    </ul>
</div>